.blog{
    height: 410px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    overflow: hidden;
    transition: .3s;
}
.blog-btn{
    background:#4dc5af;
    box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;
}
.blog:hover{
    transform: translateY(-10px);
}
@media (max-width: 576px){  
    .blog{
        width: 380px;
        margin: 0 auto;
    }   
}
@media (max-width: 480px){  
    .blog{
        width: 330px;
    }   
}