*{
  box-sizing: border-box;
}
.website-btn{
  width: 100px;
  background:#4dc5af;
  box-shadow: rgba(33, 203, 243, 0.3) 0px 3px 5px 2px;
}
.github-btn{
  width: 100px;
  background:#4dc5af;
  box-shadow: rgba(255, 105, 135, 0.3) 0px 3px 5px 2px;
}

.hireMe-btn{
  width: 100px;
  background:#4dc5af;
}

.download-btn{
  width: 200px;
  background:#4dc5af;
}

.send-btn{
  background:#4dc5af;
  box-shadow: rgba(33, 203, 243, 0.3) 0px 3px 5px 2px;
}
